.thumbnail {
  display: inline-block;
  height: 105px;
  width: 80px;
  margin-left: 32px;
  margin-right: 32px;
  margin-top: 16px;
  margin-bottom: 16px;
  text-align: center;
  position: relative;
}
.thumbnail .miniature {
  max-width: 80px;
  max-height: 80px;
}

.thumbnail a {
  cursor: inherit;
  display: block;
}
.thumbnail figure {
  max-width: 100%;
  max-height: 100%;
  margin: 0;
  padding: 0;
}
.thumbnail .label {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 25px;
  max-width: 100%;
  text-align: center;
}
.thumbnail input {
	border: none;
  max-width: 100%;
  text-align: center;
  outline: none;
  margin: 0;
  padding: 0;
  font: inherit;
  font-size: inherit;
}
/*
  edit
*/
.thumbnail > span.edit {
  position: absolute;
  height: 15px;
  padding: 0;
  margin-top: -80px;
  margin-left: 30px;
  font-size: 25px;
}
