.thumbnail {
  display: inline-block;
  height: 80px;
  width: 80px;
  margin-left: 32px;
  margin-right: 32px;
  margin-top: 16px;
  margin-bottom: 16px;
}
.thumbnail .miniature * {
  max-width: 100%;
  max-height: 100%;
}
.thumbnail .miniature {
}

.thumbnail a {
  cursor: inherit;
  display: block;
  max-width: 100%;
  max-height: 100%;
}
.thumbnail figure {
  max-width: 100%;
  max-height: 100%;
  margin: 0;
  padding: 0;
}
.thumbnail figcaption {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  max-height: 100%;
  text-align: center;
}
