/*
.file figure {
	margin: 0;
	margin-right: 10px;
	width: 140px;
	height: 140px;
	min-width: 140px;
	min-height: 140px;
	max-width: 140px;
	max-height: 140px;
	padding-top: 10px;
}
*/
.file .thumbnail img {
	max-width: 125px;
	max-height: 125px;
  margin: auto;
  vertical-align: middle;
  display: block;
  box-shadow: 0 0 0.5em black;
}
.file .thumbnail {
  width: 100%;
  height: 80%;
}
.file {
  display: inline-block;
  height: 192px;
  width: 160px;
  margin-left: 32px;
  margin-right: 32px;
  margin-top: 16px;
  margin-bottom: 16px;
}
.file a {
	cursor: inherit;
	display: block;
  width: 100%;
  height: 100%;
}
.file figure {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
.file figcaption {
  display: block;
	white-space: nowrap;
  overflow: hidden;
	text-overflow: ellipsis;
  height: 20%;
  text-align: center;
}
.file img.delete {
	width: 20px;
	height: 20px;
	position: relative;
	top: -202px;
	left: -10px;
}
.file .delete {
	cursor: pointer;
}
.file {
	cursor: -moz-zoom-in;
	cursor: -webkit-zoom-in;
	cursor: zoom-in;
}
#popup {
	cursor: -moz-zoom-out;
	cursor: -webkit-zoom-out;
	cursor: zoom-out;
}
.file[deletable]:hover .delete {
  display: block !important;
}
.file .delete {
  display: none !important;
}
.file.upload {
  color: #069045;
  font-size: 18px;
  cursor: auto !important;
}
.file.upload .area{
  border: dashed 2px #069045;
  border-radius: 6px;
  width: 125px;
  height: 125px;
  margin: auto;
}
.file.upload .text {
  width: 80px;
  height: 80px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 22.5px;
  text-align: center;
}
