.folder {
  background-color: #E1E5E5;
  color: black;
  border: solid 1px #BDBDBD;
  font-size: 15px;
  /* 'WORKAROUND'*/
  list-style: none;
	/* list-style-position: inside; */
}

.folder .creator {
	float: right;
	margin-right: 5px;
}
.folder .upload {
	float: right;
	color: white;
	margin-right: 10px;
	border-radius: 20px;
	background-color: green;
}
#newfolder .title {
	background-color: inherit;
	border: none;
	font-family: inherit;
	font-size: 25px;
}


.folder header {
	margin: 0;
	height: 40px;
	padding-top: 10px;
	vertical-align: middle;
	background-image: url("triangle-left.svg");
	background-repeat: no-repeat;
	background-position: 5px;
	text-indent: 20px;
	cursor: pointer;
}
.folder .title {
	font-size: 25px;
}
.folder[data-open]{
	background-color: #D4D9EB;
}
.folder[data-open] header {
	background-image: url("triangle-bottom.svg");
}





.folder .admin li {
	list-style: none;
	display: inline;
}
.folder .admin button {
	border-radius: 20px;
}



.folder .share {
	background-color: #4F63B0;
	display: none;
}
.folder[sharable] .share{
	display: inline;
}
.folder .upload {
	display: none;
}
.folder[uploadable][data-open] .upload{
	display: block;
}
.folder button.delete {
	display: none;
	background-color: #CE1900;
	margin-left: 20px;
}
.folder[deletable] button.delete{
	display: inline;
}


.folder .public {
	background-color: rgb(0, 255, 63);
	border-radius: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 5px;
	padding-right: 5px;
	display: none;
}
.folder[public] .public {
	display: inline;
}


.folder .admin {
	display: none;
	width: 300px;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	color: white;
	padding-bottom: 10px;
}
.folder[data-open] .admin{
	display: block;
}

.folder .files {
	padding: 0;
	margin: 0;
	margin-top: 10px;
	padding-left: 20px;
	box-orient: horizonal;
	-moz-box-orient: horizontal;
	-webkit-box-orient: horizontal;
	-ms-box-orient: horizontal;
	overflow-x: auto;
	overflow-y: hidden;
	height: 160px;
	display: none;
}
.folder[data-open] .files{
	display: box;
	display: -moz-box;			
	display: -webkit-box;
	display: -ms-box;
}

folder[hidden] {
	-moz-transition:hidden 0.5s linear;
}

div img:hover {
	
}

