.folder {
  border-bottom: solid 1px #BDBDBD;
  list-style: none;
  height: 64px;
  font-size: 20px;
}
a.folder {
  display: block;
}
.folder .label {
  width: 190px;
}
.folder > * {
  display: inline-block;
  vertical-align: middle;
}
#folders {
  margin: 0;
  padding: 0;
}
.folder:hover, .folder[selected=true]{
  background-color: #0095CD;
  background: -webkit-linear-gradient(top, #35B9E7, #0B89B5);  
  background: -moz-linear-gradient(top, #35B9E7, #0B89B5);  
  color: white;
}
.folder:hover .arrow, .folder[selected=true] .arrow{
  display: inline-block;
}
.panel {
/*
  height: 100%;
*/
  padding-left: 32px;
}
.folder .arrow {
  display: none;
  position: absolute;
  width: 0;
  height: 0;
  border-top: 32px solid transparent;
  border-bottom: 32px solid transparent;
  border-left: 32px solid #0095CD;
}
/*
.folder .arrow {
  background-color: #0095CD;
  background: -webkit-linear-gradient(top, #35B9E7, #0B89B5);  
  background: -moz-linear-gradient(top, #35B9E7, #0B89B5);  
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  clip: rect(0px, 32px, 64px, 64px); 
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
}
*/
