html {
  width: 100%;
  height: 100%;
}
body {
  max-width: 1024px;
	height: 100%;
	margin: 0px;
	background-color: #e2e3e4;
	color: black;
  margin-left: auto;
  margin-right: auto;
}

a {
	color: inherit;
	text-decoration: none;
}

/*
//Sidebar
*/
nav {
  /* 256 -2 border */
	width: 254px;
/*
	overflow-y: auto;
	overflow-x: hidden;
*/
	color: #2F2F2F;
  display: inline-block;
  height: 90%;
  vertical-align: top;
	background-color: #F3F3F5;
  border: solid #AAABAD 1px;
  float: left;
  overflow: auto;
}
/*
//header
*/
body > header > .title {
  max-width: 80%;
  text-align: start;
}
body > header > .account {
  width: 10%;
  text-align: center;
}
body > header > .logout {
  text-align: end;
  width: 10%;
}
/*
body > header > .title {
*/
/*
  width: 80%;
*/
/*
}
*/
body > header {
  color: white;
  background-color: black;
  background: -webkit-linear-gradient(top, #5A5A5A, #010101);  
  background: -moz-linear-gradient(top, #5A5A5A, #010101); 
	height: 40px;
}
#upgrade {
  height: 90%;
  background-color: white;
}
/*FIXME 100%*/
#data {
  height: 100%;
}
#data > header {
  height: 50px;
  color: #5e5e60;
}
#data > header a {
  color: #00a7e1;
}
#data > header > * {
  display: inline-block;
  margin-top: 12.5px;
  float: left;
}
#data > header > .quota {
  width: 85%;
}

#data > header > .quota > progress {
  -webkit-appearance: none;
  -moz-appearance: none;
}
#data > header > .quota > progress::-webkit-progress-bar {
  background-color: transparent;
  border: solid 1px #b2b3b4;
  -webkit-border-radius: 6px;
  height: 12px;
}
#data > header > .quota > progress::-webkit-progress-value {
  background-color: #5e5e60;
  -webkit-border-radius: 6px;
  margin-top: 2.5px;
  height: 7px;
  margin-left: 2px;
}
#data > header > .quota > progress::-moz-progress-bar {
  background-color: transparent;
  border: solid 1px #b2b3b4;
  -moz-border-radius: 6px;
  height: 12px;
}
#data > header > .quota > progress::-moz-progress-value {
  background-color: #5e5e60;
  -moz-border-radius: 6px;
  margin-top: 2.5px;
  height: 7px;
  margin-left: 2px;
}
#upgrade {
  width: 100%;
  height: 100%;
}
#welcome {
  height: 90%;
  background-color: white;
  border: solid #AAABAD 1px;
  margin-top: 10px;
}
#deck {
	background-color: white;
	color: black;
  /* 704 -1px border*/
/*
  FIXME 770!
*/
  width: 760px;
  display: inline-block;
  height: 90%;
  vertical-align: top;
  border-top: solid #AAABAD 1px;
  border-right: solid #AAABAD 1px;
  border-bottom: solid #AAABAD 1px;
  float: left;
  overflow: auto;
}

/* WORKAROUND */
*[hidden] {
	display: none !important;
}
#popup {
  z-index: 1;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
	background-color: rgba(0, 0, 0, 0.85);
}
/*
#popup * {
}
*/
#preview {
	cursor: default !important;
	max-width: 80%;
	max-height: 80%;
}

@media all and (orientation: portrait) {
  nav {
    display: none;
  }
  #deck, #data, body{
    width: 100% !important;
  }
}

#upload-button, #logout-button, #account-text {
  display: none;
}


/*
 * Uploader
 */
#file-picker {
  visibility: hidden;
  height: 0;
  width: 0;
}
#upload-button {
  vertical-align: middle;
  width: 14%;
  margin-right: 5px;
  background: -moz-linear-gradient(top, #65b98b, #24794b);
  background: -webkit-linear-gradient(top, #65b98b, #24794b);
  color: white;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border: none;
  height: 25px;
  box-shadow: 0 0 0.5em black;
  font-size: 18px;
}
