html, body{
  width: 100%;
  height: 100%;
}
body {
	margin: 0px;
	color: black;
  overflow: hidden;
}

#folders {
  margin: 0;
  padding: 0;
}
/*
 *buttons
 */
.button {
  border-width: 0;
  cursor: pointer;
  border: none;
  display: inline-block;
  padding: 8px 20px;
  border-radius: 4px;
/*
  margin: 0;
*/
  font: inherit;
  text-shadow: inherit;
  line-height: normal;
}
.button:active {
  box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.5);
  -webkit-box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.5);
}
.button.green {
  color: inherit;
  background: #e8e8e8;
  background: #c0d59f;
  background: -moz-linear-gradient(top, #c0d59f 51%, #aec985 51%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(51%,#c0d59f), color-stop(51%,#aec985));
  background: -webkit-linear-gradient(top, #c0d59f 51%,#aec985 51%);
  background: -o-linear-gradient(top, #c0d59f 51%,#aec985 51%);
  background: -ms-linear-gradient(top, #c0d59f 51%,#aec985 51%);
  background: linear-gradient(top, #c0d59f 51%,#aec985 51%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c0d59f', endColorstr='#aec985',GradientType=0 );
}
.button.green:hover {
  background: #c0d59f;
  background: -moz-linear-gradient(top, #b8cc98 51%, #a6bf7f 51%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(51%,#b8cc98), color-stop(51%,#a6bf7f));
  background: -webkit-linear-gradient(top, #b8cc98 51%,#a6bf7f 51%);
  background: -o-linear-gradient(top, #b8cc98 51%,#a6bf7f 51%);
  background: -ms-linear-gradient(top, #b8cc98 51%,#a6bf7f 51%);
  background: linear-gradient(top, #b8cc98 51%,#a6bf7f 51%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b8cc98', endColorstr='#a6bf7f',GradientType=0 );
}
.fadeIn {
  transition: opacity 0.5s linear;
  -moz-transition: opacity 0.5s linear;
  -webkit-transition: opacity 0.5s linear;

  animation-duration: 1s;
  -moz-animation-duration: 1s;
  -webkit-animation-duration: 1s;

  animation-name: fadein;
  -moz-animation-name: fadein;
  -webkit-animation-name: fadein;
}
.fadeOut {
  transition: opacity 0.5s linear;
  -webkit-transition: opacity 0.5s linear;
  -ms-transition: opacity 0.5s linear;
  -moz-transition: opacity 0.5s linear;
  -o-transition: opacity 0.5s linear;

  animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  -webkit-animation-duration: 0.5s;

  animation-name: fadeout; 
  -moz-animation-name: fadeout; 
  -webkit-animation-name: fadeout; 
}
@-webkit-keyframes fadein {  
  from {
    opacity: 0;
  }
  to {
      opacity: 1;
  }
} 
@-moz-keyframes fadein {  
  from {
    opacity: 0;
  }
  to {
      opacity: 1;
  }
} 
@keyframes fadein {  
  from {
    opacity: 0;
  }
  to {
      opacity: 1;
  }
} 
@-webkit-keyframes fadeout {  
  from {
    opacity: 1;
  }
  to {
      opacity: 0;
  }
} 
@-moz-keyframes fadeout {  
  from {
    opacity: 1;
  }
  to {
      opacity: 0;
  }
} 
@keyframes fadeout {  
  from {
    opacity: 1;
  }
  to {
      opacity: 0;
  }
}
/*
 *header
 */
header {
  border-radius: 0 0 4px 4px;
  z-index: 1;
  font-weight: bold;
  color: white;
  background-color: grey;
  margin: auto;
  max-width: 1024px;
  height: 40px;
  line-height: 40px;
  position:relative;l
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
}
header > * {
  width: calc(100%/3);
  width: -webkit-calc(100%/3);
  width: -moz-calc(100%/3);
  display: inline-block;
  float: left;
  height: 40px;
}
/*
 header left
*/
header .left {
  text-align: left;
}
header > .left > *{
  position: absolute;
  left: 20px;
}
/*
 header middle
*/
header .middle {
  text-align: center;
  position: relative;
}
header > .middle > *{
  top: 0; left: 0;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  position: absolute;
  cursor: default;
/*
  left: 50%;
  width: 400px;
  margin-left: -200px;
*/
}
/*
 header right
*/
header > .right > *{
  position: absolute;
  right: 20px;
}

header .right {
  text-align: right;
}


/*
Hack for vertical centering buttons
*/
header .button {
  margin-top: 5px;
  padding: 5px;
}

.visible {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity 0.5s linear;
  -ms-transition: opacity 0.5s linear;
  -moz-transition: opacity 0.5s linear;
  -o-transition: opacity 0.5s linear;
}
.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.5s, opacity 0.5s linear;
  -webkit-transition: visibility 0s 0.5s, opacity 0.5s linear;
  -ms-transition: visibility 0s 0.5s, opacity 0.5s linear;
  -moz-transition: visibility 0s 0.5s, opacity 0.5s linear;
  -o-transition: visibility 0s 0.5s, opacity 0.5s linear;
}


/*
 * Dock
 */
#dock {
  overflow: hidden;
  background-color: white;
  max-width: 1024px;
  margin: auto;
}
#dock ul {
  list-style: none;
  display: inline-block;
  margin: 0;
  padding: 0;
}
#dock .thumbnail {
  margin: 0 !important;
  padding: 0 !important;
  max-height: 52px !important;
  max-width: 52px !important;
}
#dock .thumbnail img {
  max-height: 32px !important;
  max-width: 32px !important;
}
.thumbnail.dragenter {
  font-weight: bold;
}

/*
 *deck
 */
#deck {
  margin: auto;
  max-width: 1022px;

  background-color: white;
  overflow: hidden;
  height: calc(100% - 46px);
  height: -webkit-calc(100% - 40px);
  height: -moz-calc(100% - 46px);
}
#deck > * {
  position: absolute;
  max-width: 1022px;
  margin: 0;
  padding: 0;
  height: calc(100% - 46px);
  height: -webkit-calc(100% - 40px);
  height: -moz-calc(100% - 46px);
  overflow: hidden;
}
section#account {
  text-align: center;
}

/*
code {
  white-space: pre;
};
*/
.edit {
  cursor: pointer !important;
}
/*
 * Uploader
 */
#file-picker {
  visibility: hidden;
  position: fixed;
  height: 0;
  width: 0;
}
.thumbnail.upload {
  color: #069045;
/*
  font-weight: bold;
*/
  cursor: pointer !important;
}
.thumbnail.upload .miniature {
  border: dashed 2px #069045;
  border-radius: 6px;
  width: 76px;
  height: 76px;
  
  text-align: center;
  font-size: 40px;
  line-height: 80px;
  font-weight: bold;
}

.panel {
  padding: 0;
  margin: 0;
}

/*
 * Folder adder
 */
#folder-adder input, header input {
  border: none;
  background: none;
  font-size: inherit;
  font: inherit;
  color: inherit;
  outline: none;
  margin: 0;
  padding: 0;
}
.thumbnail, #folder-adder, #upload-button, #empty-trash {
  cursor: pointer !important;
} 
/*
 * Folders
 */
.thumbnail.folder .miniature {
/*
  width: 85px;
  * 
*/
}

/*
 * Files
 */
.thumbnail.file img.miniature {
  box-shadow: 0 0 0.5em black;
}
.thumbnail.file img[src="themes/default/files/empty.png"] {
  box-shadow: none;
}
.thumbnail.file progress {
  max-width: inherit;
}

/*
 * Divers
 */
*[hidden] {
	display: none !important;
}
a {
	color: inherit;
	text-decoration: none;
}

/*
 * XMPP Console
 */
#xmpp-console {
  height: 50%;
  width: 100%;
  overflow: auto;
  position: fixed;
  bottom: 0;
  background-color: black;
  color: white;
}
